In [1]:
# Q1
# Accept a file name from the user and print out its extention

In [ ]:
fname = 'saravana.json'

name = fname.split('.')
name[-1]

In [ ]:
# Q2
# print difference of two given date

In [4]:
class Date:  
    def __init__(self, d, m, y):  
        self.d = d          
        self.m = m  
        self.y = y  
  
# To store number of days in 
# all months from January to Dec.  
monthDays = [31, 28, 31, 30, 31, 30,  
             31, 31, 30, 31, 30, 31 ] 
  
# This function counts number of  
# leap years before the given date  
def countLeapYears(d): 
      
    years = d.y  
      
    # Check if the current year needs  
    # to be considered for the count 
    # of leap years or not  
    if (d.m <= 2) : 
        years -= 1
          
    # An year is a leap year if it is a 
    # multiple of 4, multiple of 400 and 
    # not a multiple of 100.  
    return int(years / 4 - years / 100 + 
                           years / 400 ) 
  
# This function returns number of  
# days between two given dates  
def getDifference(dt1, dt2) : 
  
    # COUNT TOTAL NUMBER OF DAYS  
    # BEFORE FIRST DATE 'dt1'  
  
    # initialize count using years and day  
    n1 = dt1.y * 365 + dt1.d  
  
    # Add days for months in given date  
    for i in range(0, dt1.m - 1) : 
        n1 += monthDays[i]  
  
    # Since every leap year is of 366 days,  
    # Add a day for every leap year  
    n1 += countLeapYears(dt1)  
  
    # SIMILARLY, COUNT TOTAL NUMBER  
    # OF DAYS BEFORE 'dt2'  
    n2 = dt2.y * 365 + dt2.d  
    for i in range(0, dt2.m - 1) : 
        n2 += monthDays[i]  
    n2 += countLeapYears(dt2)  
  
    # return difference between  
    # two counts  
    return (n2 - n1)  
  
# Driver Code 
dt1 = Date(1, 2, 2000 ) 
dt2 = Date(1, 2, 2004 ) 
  
print("Difference between two dates is",  
                getDifference(dt1, dt2))

Difference between two dates is 1461

In [5]:
# Q3
# Create function to compute the absolute difference between two given numbers

In [8]:
def absdifference(a,b):
    ans = abs(a-b)
    return ans
  


print(absdifference(3,-4))

7

In [ ]:
# Q4
# Print the Sum of 3 given numbers, but if these numbers are equal print the sum*3

In [ ]:
def sum_thrice(x, y, z):

    sum = x + y + z
  
    if x == y == z:
        sum = sum * 3
    return sum

print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

In [ ]:
# Q5
# Count the no of 4 in the list [1,2,3,4,4,3,2,1]

In [11]:
# Counts the number of times 4 appears in list1 
print(list1.count(4))

2

In [ ]:
# Q6
# Print all even numbers from a given numbers list in the same order 
#  if any numbers that come after 237 in the sequence, stop printing

'''numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527]'''

In [15]:
for x in numbers:
    if x == 237:
        print(x)
        break;
    elif x % 2 == 0:
        print(x)

386
462
418
344
236
566
978
328
162
758
918
237

In [16]:
# Q7
# print the difference in two lists, 
color_list_2 = set(["Red", "Green"])
color_list_1 = set(["White", "Black", "Red"])

In [17]:
color_list_2.difference(color_list_1)

{'Green'}

In [ ]:
# Q8
# Print area of a triangle for a given lengths

In [18]:
def findArea(a,b,c):  
  
    # must be smaller than third side.  
    if (a < 0 or b < 0 or c < 0 or (a+b <= c) or (a+c <=b) or (b+c <=a) ):  
        print('Not a valid trianglen')  
        return
          
    # calculate the semi-perimeter  
    s = (a + b + c) / 2
      
    # calculate the area  
    area = (s * (s - a) * (s - b) * (s - c)) ** 0.5
    print('Area of a traingle is %f' %area)

In [ ]:
# Q9
# Calculate the BMI based on the input = formual is weight/m2

In [23]:
height = float(input('Please enter your height input inputches: '))
weight = int(input('Please enter your weight input pounds(whole number): '))
bmi = (weight*703)/(height*height)
print('your BMI is',bmi)

Please enter your height input inputches: 5.9
Please enter your weight input pounds(whole number): 62
your BMI is 1252.1114622234988

In [ ]:
# Q10

# program to calculate the sum over a list like s = ([10,20,30])

In [25]:
s = sum([10,20,30,49])
print("\nSum of the container: ", s)
print()

Sum of the container:  109